@theme {
    /* Colores principales */
    --color-brand: #7c3aed;
    --color-brand-hover: #6d28d9;
    --color-brand-glow: rgba(124, 58, 237, 0.5);
    
    /* Colores modo oscuro */

    /* Tipografias */

    

}